@model DoAnNhom3.Models.HocKyModel;

@{
    ViewData["Title"] = "ThemHocKy";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Form Add -->
        <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px; margin-bottom: 20px;">
            <form asp-action="ThemHocKy" class="register-form" method="post">
                <h2>Thêm khoa</h2>
                <label for="documentName">Tên Học Kỳ</label>
                <input type="text" class="form-control" placeholder="Nhập tên khoa" required asp-for="TenHK">                    

                <input type="submit" value="Thêm Học Kỳ">
            </form>
        </div>
         <!-- /Form Add -->
